body{
    /* background-color: rgb(136, 132, 89); */
}
.App{
    margin: 50px;
    margin-left: 150px;
}

.chat-box{
    border: 1px solid salmon;
    height: 400px;
    padding: 15px 10px 15px 10px;
    width: auto;
    max-width: 380px;
    border-radius: 25px 25px 0px 0px;
    overflow:scroll;
}

.message-box{
    border: 1px solid salmon;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0%;
    display: flex;
    width: auto;
    max-width: 400px;
    border-radius: 0px 0px 15px 15px;
}

.message-box-text{
    /* background-color: blue;
    color: aliceblue; */
    border: none;
    border-right: solid rgb(122, 117, 117) 1px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 15px;
    
    flex: 1 1 auto;
}

.message-box-button{
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    flex: 1 2 auto;
}

.message-box-button:hover{
    color: white;
    background-color: rgb(185, 185, 33);
    cursor: pointer;
    border-radius: 0px 0px 15px 0px;
    font-size: 45;
}
